annotations/
.ipynb_checkpoints/
train2014/
training_checkpoints/
Utils/
captions.zip
train2014.zip
PredictionsImageCaptioningWithAttention.ipynb
ImageCaptioningWithAttention.yml
ImageCaptioningWithAttention.ipynb
__pycache__